* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  width: calc(25% - 20px); /* təxmini 4 dənə yan-yana */
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.product-card img {
  width: 100%;
  height: 180px;       /* Həll budur */
  object-fit: cover;   /* şəkli kəsib ortalayır */
  border-radius: 8px;
}


.product-card h3 {
  font-size: 18px;
  margin: 10px 0 5px;
}

.product-card p {
  font-size: 14px;
  margin: 5px 0;
}

.product-price {
  font-weight: bold;
}



.navbar{background:#0b1220;position:sticky;top:0;z-index:50}
.navbar .container{display:flex;align-items:center;justify-content:space-between;padding:10px 0}
.logo{font-weight:800;font-size:1.2rem} .logo span{color:#cae2ff}
.nav-links{list-style:none;display:flex;gap:20px;margin:0;padding:0}
.nav-links a{color:#e7ecf4;opacity:.9} .nav-links a:hover{opacity:1}


.navbar { color: white; padding: 4px 0; } .navbar .container { width: 90%; margin: auto; display: flex; justify-content: space-between; align-items: center; } .logo { font-weight: 800; font-size: 1.4rem; } .nav-links { list-style: none; display: flex; margin: 0; padding: 0; } .nav-links li { margin-left: 20px; } .nav-links a { text-decoration: none; color: #e7ecf4; font-weight: 500; transition: color 0.3s ease; } .nav-links a:hover { color: #4f9cff; }


.add-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ff6500;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s ease;
}

.add-btn:hover {
  background-color: #e05700;
}


/* FOOTER */
.footer {
  background-color: #111;
  color: #ddd;
  padding: 40px 0 20px;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.footer-section {
  width: calc(33% - 20px);
}

.footer-section h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-section h3 span {
  color: #ff6500;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.footer-section p,
.footer-section a {
  font-size: 14px;
  color: #bbb;
  text-decoration: none;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a:hover {
  color: #ff6500;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #333;
  color: #888;
  font-size: 14px;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer-section {
    width: 100%;
  }
}
